$user-header: #4f3f31;
$fz-color1: #fff;
$fz-color2: #000;
$fz-color3: #fff;

/* 菜单颜色 */
$menu-content-fz-color: #232324;
$menu-header-fz-color: #232323;
$menu-header-active-color:#ffd796;
$menu-tab-bg-color: #4f3f31;
$menu-tab-color: #4f3f31;
$menu-tab-fz-color: #c3b294;
$menu-content-color: #fef6e8;
$menu-header-bg-color: #4f3f31;
$menu-header-fz-color: #fff;
$menu-content-active-color:#e76121;

/* 联赛玩法表格 */
$game-table-fz-color: #232323;
$game-table-bg-color: #cecbb4;
$game-table-border-color: #e4e4e4;
$game-date-bg-color:#34281f;
$game-date-fz-color:#f9f0e5;

/* 联赛颜色，表格颜色 header颜色 */
$top-header-bg: #fff;
$top-header-fz:#4f3f31;
$main-header-color: #4f3f31;
$competition-color:#987d67;
$competition-fz-color: #fff;
$competition-fz-border: #bba797;

/*比赛内部细节颜色  */
$match-line-even:#fffbef;
$match-cell-border:#bcc3be;
/* 按钮，选中，比赛双行 */
$detail-odds-color:#8a6852;
$btn-color:#67a992;

$active1-fz: #fff;

/* model颜色 */
$modal-bg:#af8a65;
$modal-fz:#fff;
$odds-modal-fz:#232323;

/* 赔率颜色*/
$odds-fz-color:#c8250a;

/* 赔率变化颜色*/
$odds-up-color:rgba(201,52,61,.2);
$odds-down-color: rgba(44,188,36,.2);

/* 3种逐渐变淡颜色 */
$line-bg1:#4f3f31;
$line-bg2:#7d6857;
$line-bg3:#bba797;

$item-color:#fff;

/* 购物车颜色 */
$cart-bg1:#4f3f31;
$cart-fz1:#c3c3c3;
$cart-fz2:#f1af1c;
$cart-item-fz1:#0b699a;
$cart-item-fz2:#45403b;
$cart-item-fz3:#72685e;

/* 3种主要颜色 */
$bg-color: #4f3f31;
$bg-color2: #987d67;
$bg-color3: #fff0e4;


$border-color1:#ececec;
$border-color2:#bcc3be;
$active-color1:#ec980c;
$active-color2:#ffbe55;
$active-color3:#ea742e;

$height1:50px;
$height2:52px;
$height3:54px;
$height4:56px;
$height5:58px;
$height6:60px;
$height7:80px;
$header-height1:40px;
