$user-header: #427f6d;
$fz-color1: #fff;
$fz-color2: #000;
$fz-color3: #000;
/* 菜单颜色 */
$menu-content-fz-color: #232324;
$menu-header-fz-color: #fff;
$menu-tab-color: #315e51;
$menu-content-color: #fffbef;
$menu-header-color: #427f6d;

/* 联赛颜色，表格颜色 */
$game-table-color: #fff;
$main-header-color: #315e51;
$competition-color:#427f6d;
$competition-fz-color: #fff;
$competition-fz-border: #649a96;

/* 按钮，选中，比赛双行 */
$detail-odds-color:#427f6d;
$btn-color:#427f6d;
$match-line-even:#fffbef;
$active1-fz: #fff;

/* model颜色 */
$modal-bg:#508a7e;
$modal-fz:#fff;
$odds-modal-fz:#232323;

/* 3种逐渐变淡颜色 */
$line-bg1:#427f6d;
$line-bg2:#55b196;
$line-bg3:#71b594;

$item-color:#fff;

/* 购物车颜色 */
$cart-bg1:#315e51;
$cart-fz1:#c3c3c3;
$cart-fz2:#f1af1c;

/* 3种主要颜色 */
$bg-color: #315e51;
$bg-color2: #427f6d;
$bg-color3: #fcf7ed;
$active-color1:#dc9602;
$active-color2:#DCBE34;
$active-color3:#ea742e;

$border-color1:#8b958d;
$border-color2:#bcc3be;
$active-color1:#dc9602;
$active-color2:#DCBE34;
$active-color3:#ea742e;

$height1:50px;
$height2:52px;
$height3:54px;
$height4:56px;
$height5:58px;
$height6:60px;
$height7:80px;
$header-height1:40px;
