$body-bg:#fff;
$user-header: #f5830e;
$fz-color1: #fff;
$fz-color2: #000;
$fz-color3: #232324;
$menu-content-fz-color: #232324;
$menu-header-fz-color: #232324;
$menu-tab-color: #f5830e;
$menu-content-color: #fffbef;
$normal-color: #d9d9d9;
$game-table-color: #232323;
$menu-header-color: #fcd264;
$main-header-color: #e13a40;

$active1-fz:#fff;
$competition-color:#f8f8f8 ;
$competition-fz-color: #232324;
$competition-fz-border: #eabab8;

$detail-odds-color:#de675b;
$btn-color:#f5830e;
$match-line-even:#fffbef;

$modal-bg:#f5e1ac;
$modal-fz: #232323;
$odds-modal-fz:#232323;
$line-bg1:#ea742e;
$line-bg2:#f59e6b;
$line-bg3:#fbd0ac;
$item-color:#000;

$cart-bg1:#e13a40;
$cart-fz1:#fff;
$cart-fz2:#a6f95a;


$border-color1:#e13a40;
$border-color2:#c3bcbc;
$active-color1:#dc9602;
$active-color2:#DCBE34;
$active-color3:#ea742e;


$bg-color: #f8f8f8;
$bg-color2: #f8f8f8;
$bg-color3: #fcf7ed;
$bg-color4: #f8f8f8;
$bg-color5: #294c42;

$height1:50px;
$height2:52px;
$height3:54px;
$height4:56px;
$height5:58px;
$height6:60px;
$height7:80px;


$header-height1:40px;
