@import "../../styles/common";
@import "../../styles/utils";
.container{
  width: 1540px;
  height: 100%;
  position: relative;
  background-color:transparent;
  margin: 0 auto;
}

:global(.ant-modal-header){
  width: 100%!important;
  height: 42px!important;
  line-height: 42px!important;
  font-size: 16px!important;
  text-align: center;
  background: $main-header-color!important;
  padding: 0!important;
}
:global(.ant-modal-title){
  line-height: 42px!important;
  font-weight: bold;
  text-align: center;
  color: $fz-color1!important;
}
/* eslint-disable */
:global(.ant-table-thead > tr > th){
  color: white!important;
  background-color: $user-header!important;
  border: none!important;
  align-self: center!important;
  text-align:center!important;
}
/* eslint-disable */
:global(.ant-modal-body){
  background-color: $modal-bg;
  border: none!important;
  align-self: center!important;
}

/* antd checkbox样式 */
:global(.ant-form label) {
  font-size: 12px;
  color: $item-color;
}
:global(.ant-modal-confirm-body .ant-modal-confirm-title){
  color: $modal-fz;
}
:global(.ant-modal-confirm-info .ant-modal-confirm-body > .anticon){
  color: $modal-fz;
}
:global(.ant-modal-confirm-body .ant-modal-confirm-content){
  color: $modal-fz
}
:global(.ant-modal-confirm-success .ant-modal-confirm-body > .anticon){
  color: $modal-fz
}


