@import "../../../../../styles/common";
@import "../../../../../styles/utils";

.box {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  @include scrollBar();
  .box-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    z-index: 998;
    .loading {
      font-size: 40px;
      padding-bottom: 50px;
      color: white;
    }
  }
  .bet-box {
    width: 100%;
    flex-direction: column;
    display: flex;
    color: #0F1A22;
    padding: 0 2px;
    min-height: 30vh;
    .mask {
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
    .bet-list {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      position: relative;
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        justify-content: center;
        .loading {
          text-align: center;
          font-size: 20px;
          color: white;
        }
      }
      .bet-none {
        width: 100%;
        height: 80px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
        color: white;
        font-size: 14px;
      }
    }
  }
  .mixed-total {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    .row {
      width: 100%;
      background-color: #423328;
      padding: 8px 10px 9px;
    }
    .order-money {
      width: 100%;
      .input-container {
        background-color: #423328;
        padding: 8px 10px 9px;
        .input {
          position: relative;
          width: 180px;
          height: 40px;
          padding: 5px 5px 5px 10px;
          background-color: #fff;
          border-radius: 2px;
        }
        .text {
          font-size: 13px;
          margin-top: 9px;
          span {
            color: #c4eebc;
            float: right;
          }
        }
      }

      .select-num {
        width: 100%;
        background-color: #281f1a;
        padding: 4px 10px 9px;
        @include clearfix();
        .item {
          display: block;
          cursor: pointer;
          float: left;
          width: 55px;
          height: 25px;
          line-height: 25px;
          background-color: #644E3D;
          color: #c3b294;
          font-size: 13px;
          text-align: center;
          margin: 8px 3px 0 2px;
          border-radius: 2px;
        }
      }
    }
    .calc {
      width: 100%;
      background-color: $line-bg2;
      padding: 8px 10px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      .left {
        width: 100%;
        .text {
          float: left;
          line-height: 26px;
        }
        .amount {
          float: left;
          margin-left: 4px;
          font-weight: bold;
          font-size: 13px;
          line-height: 26px;
        }
      }
      .right {
        width: 100%;
        line-height: 26px;
        font-size: 12px;
        .profit {
          padding-left: 4px;
          font-size: 13px;
          color: $cart-fz2;
          font-weight: bold;
        }
      }
    }
    .button {
      width: 100%;
      background-color: $line-bg1;
      padding: 14px 0;
      text-align: center;
      .button-submit {
        display: block;
        width: 180px;
        height: 40px;
        font-size: 13px;
        text-align: center;
        margin: auto auto 10px;
        border-radius: 2px;
        cursor: pointer;
        background-color: #269871;
        color: white;
        outline: none;
        box-shadow: none;
        border: none;
      }
      .button-cancel {
        display: block;
        width: 180px;
        height: 40px;
        font-size: 13px;
        text-align: center;
        margin: auto auto 10px;
        border-radius: 2px;
        background-color: #C5B9AB;
        color: #423328;
        outline: none;
        box-shadow: none;
        border: none;
      }
      .warning {
        margin-top: 10px;
        display: block;
        color: $cart-fz1;
      }
    }
  }
}

.result-mixed-modal {
  width: 100%;
  margin-top: 8px;
  .bet-result {
    width: 100%;
    line-height: 40px;
    color: rgb(11, 20, 34);
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4px;
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, .2), 0px 0 1px 1px rgba(0, 0, 0, .2);
    background-color: #fff;
    .left {
      width: 33%;
      float: left;
      margin-left: 10px;
      line-height: 24px;
      .green {
        color: #1d6f52;
        font-size: 16px;
        margin-right: 4px;
      }
      .black {
        font-size: 16px;
        margin-right: 4px;
      }
    }
    .center {
      float: left;
      width: 33%;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }
    .right {
      width: 33%;
      float: right;
      font-size: 14px;
      display: flex;
      align-items: center;
      padding-left: 12px;
      color: #000;
      font-weight: bold;
      padding-right: 10px;
      .success {
        width: 100%;
        text-align: right;
        color: #ca4141;
      }
      .fail {
        text-align: right;
        width: 100%;
        color: #303030;
      }
    }
  }
  .result-item {
    position: relative;
    min-height: 50px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, .2), 0px 0 1px 1px rgba(0, 0, 0, .2);
    background-color: #fff;
    .result-fail {
      width: 100%;
      line-height: 24px;
      color: rgb(11, 20, 34);
      text-align: left;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #a5a4a4;
      .left {
        float: left;
        margin-left: 10px;
        width: 20px;
        height: 20px;

      }
      .right {
        font-size: 16px;
        color: rgb(11, 20, 34);
        display: flex;
        align-items: center;
        padding-left: 12px;
        justify-content: start;
        .result {
          color: #000;
          font-weight: bold;
        }
      }
    }
    .result-item-header {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      background-color: #fff;
      padding-left: 6px;
      line-height: 30px;
      .left {
        float: left;
        display: flex;
        align-items: center;
        width: 40%;
        .logo {
          float: left;
          width: 12px;
          height: 12px;
          background-image: url('../../../../../assets/gerenzhongxinsaiguo@3x.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
        .cptName {
          float: left;
          padding-left: 3px;
          @include textOverflow();
        }
      }
      .text {
        width: 50%;
        float: left;
        font-size: 12px;
        color: #232323;
        padding-left: 6px;
        text-align: left;
        @include textOverflow();
      }
    }
    .result-item-content {
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      background-color: #fff;
      color: #0F1A22;
      padding-bottom: 2px;
      border-bottom: 1px solid #d8d8d8;
      line-height: 28px;
      display: flex;
      .odds-name {
        width: 40%;
        float: left;
        padding-left: 12px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #232323;
      }
      .handicap {
        width: 35%;
        float: left;
        text-align: left;
        font-size: 12px;
        padding-left: 10px;
        .odds {
          border-radius: 2px;
          padding-left: 2px;
          padding-right: 4px;
          font-size: 12px;
          color: #ca4141;
        }
      }
      .loss {
        width: 25%;
        float: left;
        font-size: 12px;
        font-weight: bold;
        color: #696969;
      }
    }
    .result-item-message {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fff;
      color: #0F1A22;
      border-bottom: 1px solid #d8d8d8;
      font-size: 12px;
      .mes {
        padding-left: 8px;
        line-height: 1.5;
      }
    }
  }
}

.del-btn {
  cursor: pointer;
  font-size: 16px;
}

