<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#000000">
  <title>亚冠体育</title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <meta name="description" content="体育投注，体育下注，足球投注，最优赔率">

</head>
<body>
<div id="root"></div>
</body>
<script>

</script>
</html>
