@import "../../styles/common";
@import "../../styles/utils";

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8c7769;
  cursor: pointer;
  .name {
    flex: 1;
    text-align: left;
    padding-left: px2vw(16);
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all .2s;
    color: #fff;
  }
  .arrow {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcf7ed;
  }

}

.content {
  width: 100%;
}
