@import "../../styles/common";
@import "../../styles/utils";

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  width: 100%;
}
