@import "../../../../../styles/common";
@import "../../../../../styles/utils";
.box{
  width: 100%;
  height: 100%;
  position: relative;
  .box-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.2);
    z-index: 998;
    .loading{
      font-size: 40px;
      padding-bottom: 50px;
      color: white;
    }
  }
  .bet-box{
    width: 100%;
    flex-direction: column;
    display: flex;
    color: #0F1A22;
    padding: 0 2px;
    min-height: 30vh;
    .bet-list{
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      position: relative;
      .mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        .loading{
          text-align: center;
          font-size: 20px;
          color: white;
        }
      }
      .bet-none{
        width: 100%;
        height: 80px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
        color: white;
        font-size: 14px;
      }
      .bet-item{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
        margin-left: 4px;
        margin-right: 4px;
        .no-bet {
          width: 100%;
          font-size: 12px;
          line-height: 18px;
          background-color: rgb(255, 204, 208);
          color: rgb(11, 20, 34);
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          box-sizing: border-box;
          margin-bottom: 1px;
          .left {
            font-size: 12px;
            color: rgb(11, 20, 34);
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 12px;
            justify-content: start;
            .text{

            }
            .result {
              color: #232323;
              font-weight: bold;
            }
          }
          .right {
            margin-right: 6px;
            .del {
              font-size: 14px;
              font-weight: 700;
              border: none;
              color: #999;
              cursor: pointer;
              padding: 4px 4px;
            }
          }

        }
        .bet-item-header{
          width: 100%;
          flex-direction: row;
          display: flex;
          align-items: center;
          background-color: #fff;
          padding: 4px 4px;
          margin-bottom: 1px;
          position: relative;
          .del{
            width: 16px;
            text-align: center;
            position: absolute;
            right: 8px;
            top: 10px;
          }
          .title{
            line-height: 1.8;
            .cpt{
              color: $cart-item-fz3;
            }
            .team-name{
              .team{

              }
              .vs{
                font-size: 12px;
                padding: 0 6px;
                color: $cart-item-fz3;
              }
            }
            .dish-name{
              color: $cart-item-fz1;
            }
            .dish-odds{
              .name{}
              .handicap{
                color: $odds-fz-color;
              }
              .odds{
                padding-left: 3px;
                font-weight: 600;
                color: $odds-fz-color;
              }
            }
          }
        }
        .bet-item-content{
          width: 100%;
          background-color: $bg-color2;
          color: #fff;
          padding: 0 4px;
          .errInfo {
            width: 100%;
            color: red;
            padding: 1px 3px;
            margin-left: 14px;
          }
          .winInfo{
            width: 100%;
            flex-direction: row;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px 3px;
            .odds{
              width: 62px;
              height: 28px;
              line-height: 28px;
              font-size: 13px;
              text-align: center;
              display: inline-block;
              border-radius: 5px;
              position: relative;
              color: #fff;
              background-color: $line-bg1;
            }
            .bet-select{
              width: 107px;
              height: 28px;
              position: relative;
              .bet-select-arrow{
                position: absolute;
                top: 0;
                right: 3px;
                background: transparent;
                width: 20px;
                height: 28px;
                padding-top: 6px;
                z-index: 2;
                text-align: center;
                .icon{
                  transition: all .4s;
                  font-size: 14px;
                  color: #7D7471;
                  transform: rotate(0);
                  transform-origin: 50% 50%;
                  &.active{
                    transform: rotate(180deg);
                    transform-origin: 50% 50%;
                  }
                }
              }
              .bet-select-input{
                text-indent: 3px;
                outline: none;
                border: none;
                background: #ffffff;
                color: #4d4d4d;
                border-radius: 4px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                position: absolute;
              }
              .option-box{
                z-index: 6;
                position: absolute;
                width: 107px;
                top: 28px;
                margin-bottom: 0;
                padding-left: 0;
                overflow: auto;
                list-style: none;
                outline: none;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0 2px 8px rgba(0,0,0,0.15);
                animation: SlideUpIn .2s linear 1;
                .option{
                  display: block;
                  padding: 2px 12px;
                  overflow: hidden;
                  color: rgba(0,0,0,0.65);
                  font-weight: normal;
                  line-height: 22px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  cursor: pointer;
                  -webkit-transition: background .3s ease;
                  transition: background .3s ease;
                  &:hover{
                    background-color: #e6f7ff;
                  }
                }
              }
            }
            .equal{
              width: 10px;
              padding-left: 6px;
              text-align: center;
            }
            .money{
              width: 80px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  /*投注单按钮样式*/
  .bet-total{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    .type{
      font-size: 12px;
      width: 100%;
      background-color:$line-bg1;
    }
    .calc{
      width: 100%;
      background-color:$line-bg1;
      padding: 8px 4px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: start;
      .left{
        width: 100%;
        line-height: 26px;
      }
      .right{
        width: 100%;
        line-height: 26px;
        .profit{
          font-size: 16px;
          color: $cart-fz2;
          font-weight: bold;
        }
      }
    }
    .button{
      width: 100%;
      background-color:$cart-bg1 ;
      padding: 14px 0;
      text-align: center;
      .button-submit{
        margin: 0 auto;
        width: 160px;
        height: 28px;
        display: block;
        font-size: 12px;
        border-radius: 3px;
        color: #4d4d4d;
        background: #ffffff;
        cursor: pointer;
      }
      .warning{
        margin-top: 10px;
        display: block;
        color: $cart-fz1;
      }
    }
  }

}
.result-modal{
  .bet-result {
    width: 100%;
    line-height: 24px;
    color: rgb(11, 20, 34);
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 4px;
    .left {
      float: left;
      margin-left: 10px;
      line-height: 24px;
      color: $modal-fz;
    }
    .right {
      font-size: 16px;
      color: $modal-fz;
      display: flex;
      align-items: center;
      padding-left: 12px;
      justify-content: start;
      .result {
        color: $modal-fz;
        font-weight: bold;
      }
    }
  }
  .result-item {
    position: relative;
    min-height: 100px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, .2), 0px 0 1px 1px rgba(0, 0, 0, .2);
    animation: SlideUpIn .2s linear 1;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 4px;
    .result-fail {
      width: 100%;
      line-height: 34px;
      color: rgb(11, 20, 34);
      text-align: left;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom:#a5a4a4;
      .left {
        float: left;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        background-image: url('../../../../../assets/chenggong@3x.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      .right {
        font-size: 16px;
        color: rgb(11, 20, 34);
        display: flex;
        align-items: center;
        padding-left: 12px;
        justify-content: start;
        .result {
          color: #000;
          font-weight: bold;
        }
      }
    }
    .result-item-header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 6px;
      padding-left: 6px;
      .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title {
          font-size: 10px;
          color: #232323;
          display: flex;
          align-items: center;
          padding-left: 6px;
          justify-content: start;
          .logo {
            float: left;
            width: 10px;
            height: 10px;
            background-image: url('../../../../../assets/gerenzhongxinsaiguo@3x.png');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      .text {
        font-size: 12px;
        color: #232323;
        padding-left: 6px;
        flex: 1;
        text-align: left;
      }
      .flag{
        padding: 0 6px 0 4px;
        font-size: 14px;
        font-weight: bold;
        color: #ca4141;
      }
      .loss{
        padding: 0 6px 0 4px;
        font-size: 14px;
        font-weight: bold;
        color: #696969;
      }
    }
    .result-item-content {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      color: #0F1A22;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom:1px solid #d8d8d8;
      .odds-name {
        padding-left: 12px;
        font-size: 11px;
        line-height: 20px;
        font-weight: 400;
        color: #232323;
      }
      .handicap {
        text-align: left;
        font-size: 11px;
        padding-left: 10px;
      }
      .odds {
        margin-right: 6px;
        border-radius: 2px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 12px;
        flex-shrink: 0;
        display: flex;
        position: relative;
      }
    }
    .result-item-winInfo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.8;
      padding-top: 4px;
      padding-bottom: 4px;
      .left {
        padding-left: 10px;
        color: #232323;
      }
      .right{
        padding: 0 6px;
        color: #4f9666;
      }
    }
    .spec{
      text-align: left;
      font-size: 10px;
      padding-left: 10px;
      padding-bottom: 6px;
    }
  }
}

