@import "../../../../../../styles/common";
@import "../../../../../../styles/utils";

.modalLayout {
  background-color: white;
  height: 600px;
  .detail-box{
    background-color: $bg-color3;
    height: 600px;
    overflow: -moz-scrollbars-none;
    position: relative;
    &::-webkit-scrollbar {
      width: 0 !important
    }
    .refresh {
      color: #fff;
      top: 20px;
      right: 5px;
      position: absolute;
      float: right;
      font-size: 12px;
      width: 50px;
      height: 24px;
      line-height: 22px;
      text-align: center;
      border: 1px solid;
      border-radius: 2px;
      margin-right: 10px;
      margin-top: 8px;
      z-index: 10;
      background-color: $bg-color2;
      .icon {
        font-size: 12px;
        vertical-align: baseline;
      }
      .time {
        padding-left: 4px;
        vertical-align: top;
      }
    }
    .match-info{
      width: 100%;
      height: 80px;
      background: url("../../../../../../assets/soccer.jpg");
      background-size: cover;
      .match-over{
        width: 100%;
        line-height: 80px;
        font-size: 18px;
        text-align: center;
        color: #303030;
      }
      .time{
        padding-top: 8px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #303030;
      }
      .team{
        margin-top: 10px;
        font-size: 13px;
        line-height: 1.4;
        display: flex;
        flex-wrap: nowrap;
        vertical-align: top;
        position: relative;
        width: 100%;
        color: black;
        .home-name{
          width: 45%;
          text-align:right;
          float: left;
          line-height: 1.8;
          padding-right: 15px;
          font-size: 16px;
        }
        .vs{
          background: #fff;
          -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.35);
          box-shadow: 0 2px 5px rgba(0,0,0,.35);
          border-radius: 3px;
          color: #000;
          font-size: 16px;
          font-weight: 500;
          left: 45%;
          padding: 2px;
          text-align: center;
          text-transform: uppercase;
          width: 8%;
          line-height: 1.5;
        }
        .away-name{
          font-size: 16px;
          float: right;
          width: 45%;
          padding-left: 15px;
          text-align: left;
          line-height: 1.8;
        }

      }
      .inRound{
        width: 16%;
        margin: 0 auto;
        margin-top: 20px;
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        .left{
          background-color: white;
          padding: 2px 4px;
          color: #427f6d;
          .text{
            padding-left: 4px;
          }
        }
        .period{
          padding: 2px 4px;
          background-color: white;
        }
      }
    }
    .all-odds{
      width: 100%;
      height: 520px;
      overflow-y:auto ;
      &::-webkit-scrollbar {
        width: 0 !important
      }
      .odds-box{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .odds-name{
          width: 100%;
          height: 32px;
          line-height: 32px;
          padding-left: 10px;
          display: flex;
          align-items: center;
          background-color: $detail-odds-color;
          color: $fz-color1;
          font-size: 13px;
          .name{
            width: 20%;
            text-align: left;
            font-weight: 700;
            position: relative;
            transition: all .2s;
          }
          .arrow{
            cursor: pointer;
            width: 80%;
            height: 34px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            padding-right: 14px;
            font-size: 18px;
            font-weight: bold;
          }
        }
        .odds-item{
          width: 100%;
          font-size: 12px;
          box-sizing: border-box;
          padding-top: 1px;
          padding-bottom: 1px;
          .item-box{
            padding: 2px 4px;
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

