@import "../../../../../../styles/common";
@import "../../../../../../styles/utils";
@import "../../../../../../styles/bilnk";

.table {
  @include game-table();
}

.competitions-name {
  @include competition-layout();
  .arrow {
    text-align: center;
    color: $fz-color3;
  }
  .name {
    padding-left: 10px;
  }
}

.match-info {
  @include pointSpread-matchInfo-layout();
}




