@import "../../../../../../styles/common";
@import "../../../../../../styles/utils";

.CorrectScoreDish{
  display: block;
  width: 100%;
  line-height: 32px;
  font-size: 13px;
  color: $odds-fz-color;
  cursor: pointer;
  font-weight: bold;
  &:hover{
    background-color: $active-color1;
    color: $active1-fz;
  }
}
.active{
  background-color: $active-color1;
  color: $active1-fz;
}
