.main-panel{
  margin: 0 auto;
  width: 1514px;
  height: calc(100vh - 40px);
  @media  (max-width:1365px) {
    width: 1033px;
  }
  @media  (min-width:1366px) and (max-width: 1514px) {
    width: 1366px;
  }
}
